openapi: 3.0.1
info:
  contact:
    email: anton.perhunov@aspose.com
    name: GroupDocs
    url: https://products.groupdocs.cloud/rewriter/
  license:
    name: Aspose EULA
    url: https://about.aspose.com/legal/eula/
  termsOfService: https://about.groupdocs.cloud/legal/tos/
  title: GroupDocs.Rewriter API
  version: 23.8.0
servers:
- url: https://api.groupdocs.cloud/v2.0/rewriter
paths:
  /detect/document:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              MinLength:
                style: form
              Language:
                style: form
              Format:
                style: form
              File:
                style: form
              Url:
                style: form
              Origin:
                style: form
              SavingMode:
                style: form
            schema:
              $ref: '#/components/schemas/_detect_document_post_request'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Detect paraphrasing in the document
      tags:
      - Detect
  /detect/text:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectrionTextRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ detection."
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Detect paraphrasing in text
      tags:
      - Detect
  /detect/document/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/rewriter/document response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DetectionFileResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionFileResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DetectionFileResponse'
          description: Success
      summary: "Return document detection status.\r\nAlso return probability of paraphrasing\
        \ for the whole document and per paragraph"
      tags:
      - Detect
  /detect/text/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/rewriter/document response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DetectionTextResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionTextResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DetectionTextResponse'
          description: Success
      summary: "Return text detection status.\r\nAlso return probability of paraphrasing\
        \ for the whole text"
      tags:
      - Detect
  /detect/hc:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
          description: Success
      summary: Health check for detect all services.
      tags:
      - Detect
  /paraphrase/document:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              OutputFormat:
                style: form
              DiversityDegree:
                style: form
              Language:
                style: form
              Format:
                style: form
              File:
                style: form
              Url:
                style: form
              Origin:
                style: form
              SavingMode:
                style: form
            schema:
              $ref: '#/components/schemas/_paraphrase_document_post_request'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Rewrite document
      tags:
      - Paraphrase
  /paraphrase/text:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextRequest'
        description: "String in body of request, containing JSON with parameters for\
          \ rewriting."
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Rewrite text
      tags:
      - Paraphrase
  /paraphrase/document/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/rewriter/document response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RewriterFileResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RewriterFileResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RewriterFileResponse'
          description: Success
      summary: "Return document rewriting status.\r\nAlso return URLs for downloading\
        \ of rewritten document if paraphrasig was successful"
      tags:
      - Paraphrase
  /paraphrase/text/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/rewriter/text response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RewriterTextResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RewriterTextResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RewriterTextResponse'
          description: Success
      summary: "Return text rewriting status.\r\nAlso return rewritten text if paraphrasing\
        \ was successful"
      tags:
      - Paraphrase
  /paraphrase/hc:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
          description: Success
      summary: Health check for all paraphrase services.
      tags:
      - Paraphrase
  /summarize/document:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              OutputFormat:
                style: form
              DiversityDegree:
                style: form
              MinLength:
                style: form
              Language:
                style: form
              Format:
                style: form
              File:
                style: form
              Url:
                style: form
              Origin:
                style: form
              SavingMode:
                style: form
            schema:
              $ref: '#/components/schemas/_summarize_document_post_request'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Summarize document
      tags:
      - Summarize
  /summarize/text:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizationTextRequest'
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: Success
      summary: Summarize text
      tags:
      - Summarize
  /summarize/document/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/rewriter/document response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SummarizationFileResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizationFileResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SummarizationFileResponse'
          description: Success
      summary: "Return document summarizing status.\r\nAlso return URLs for downloading\
        \ of summarized document if summarization was successful"
      tags:
      - Summarize
  /summarize/text/{requestId}:
    get:
      parameters:
      - description: GUID which got from /v3/rewriter/text response
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SummarizationTextResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SummarizationTextResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SummarizationTextResponse'
          description: Success
      summary: "Return text summarizing status status.\r\nAlso return rewrote text\
        \ if translation was successful"
      tags:
      - Summarize
  /summarize/hc:
    get:
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
          description: Success
      summary: Health check for all summarize services.
      tags:
      - Summarize
components:
  schemas:
    CloudTextRequest:
      additionalProperties: false
      example:
        diversity: 1
        texts:
        - texts
        - texts
        requestId: requestId
        origin: origin
        action: action
        language: 0
        suggestions: 6
        text: text
        tokenize: true
      properties:
        language:
          description: Language of original text
          format: int32
          type: integer
        text:
          description: Text to rewrite
          type: string
        action:
          description: Rewrite or summarize
          type: string
        texts:
          description: Text array to rewrite
          items:
            type: string
          type: array
        suggestions:
          description: "Number of suggested variants, 3 maximum"
          format: int32
          type: integer
        diversity:
          description: Diversity of text
          format: int32
          type: integer
        tokenize:
          description: Should source and target texts be returned in tokenized form
          type: boolean
        origin:
          description: for analysis only
          type: string
        requestId:
          type: string
      type: object
    DetectionFileResponse:
      additionalProperties: false
      example:
        probability: 0.8008282
        perParagraphProbability:
        - 6.0274563
        - 6.0274563
        isParaphrased: true
        message: message
        statusCode: Continue
      properties:
        statusCode:
          description: Http status code
          enum:
          - Continue
          - SwitchingProtocols
          - Processing
          - EarlyHints
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultiStatus
          - AlreadyReported
          - IMUsed
          - MultipleChoices
          - MovedPermanently
          - Found
          - SeeOther
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - PermanentRedirect
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - MisdirectedRequest
          - UnprocessableEntity
          - Locked
          - FailedDependency
          - UpgradeRequired
          - PreconditionRequired
          - TooManyRequests
          - RequestHeaderFieldsTooLarge
          - UnavailableForLegalReasons
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          - VariantAlsoNegotiates
          - InsufficientStorage
          - LoopDetected
          - NotExtended
          - NetworkAuthenticationRequired
          type: string
        message:
          description: Information about process
          type: string
        probability:
          description: The probability that the text turned out to be paraphrased
          format: float
          type: number
        isParaphrased:
          type: boolean
        perParagraphProbability:
          items:
            format: float
            type: number
          type: array
      type: object
    DetectionTextResponse:
      additionalProperties: false
      example:
        probability: 0.8008282
        isParaphrased: true
        message: message
        statusCode: Continue
      properties:
        statusCode:
          description: Http status code
          enum:
          - Continue
          - SwitchingProtocols
          - Processing
          - EarlyHints
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultiStatus
          - AlreadyReported
          - IMUsed
          - MultipleChoices
          - MovedPermanently
          - Found
          - SeeOther
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - PermanentRedirect
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - MisdirectedRequest
          - UnprocessableEntity
          - Locked
          - FailedDependency
          - UpgradeRequired
          - PreconditionRequired
          - TooManyRequests
          - RequestHeaderFieldsTooLarge
          - UnavailableForLegalReasons
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          - VariantAlsoNegotiates
          - InsufficientStorage
          - LoopDetected
          - NotExtended
          - NetworkAuthenticationRequired
          type: string
        message:
          description: Information about process
          type: string
        probability:
          description: The probability that the text turned out to be paraphrased
          format: float
          type: number
        isParaphrased:
          type: boolean
      type: object
    DetectrionTextRequest:
      additionalProperties: false
      example:
        texts:
        - texts
        - texts
        origin: origin
        language: language
        text: text
      properties:
        language:
          description: Set language of text
          minLength: 1
          type: string
        text:
          description: Single text paragraph
          type: string
        texts:
          description: Text paragraphs
          items:
            type: string
          type: array
        origin:
          description: "Information about SDK user, like a User-Agent"
          type: string
      required:
      - language
      type: object
    HealthCheckInfo:
      additionalProperties: false
      example:
        filesProcessorStatus: filesProcessorStatus
        summarizationStatus: summarizationStatus
        detectorStatus: detectorStatus
        paraphrasingStatus: paraphrasingStatus
      properties:
        filesProcessorStatus:
          type: string
        paraphrasingStatus:
          type: string
        detectorStatus:
          type: string
        summarizationStatus:
          type: string
      type: object
    HealthCheckResponse:
      additionalProperties: false
      example:
        models:
        - loaded: true
          models:
          - models
          - models
          opt:
            beam_size: 5
            gpu: 2
            replace_unk: true
          models_id: 5
          timeout: 7
          tokenizer:
            model: model
            type: type
        - loaded: true
          models:
          - models
          - models
          opt:
            beam_size: 5
            gpu: 2
            replace_unk: true
          models_id: 5
          timeout: 7
          tokenizer:
            model: model
            type: type
        healthCheckInfo:
          filesProcessorStatus: filesProcessorStatus
          summarizationStatus: summarizationStatus
          detectorStatus: detectorStatus
          paraphrasingStatus: paraphrasingStatus
        initialRequest:
          diversity: 1
          texts:
          - texts
          - texts
          requestId: requestId
          origin: origin
          action: action
          language: 0
          suggestions: 6
          text: text
          tokenize: true
      properties:
        initialRequest:
          $ref: '#/components/schemas/CloudTextRequest'
        healthCheckInfo:
          $ref: '#/components/schemas/HealthCheckInfo'
        models:
          items:
            $ref: '#/components/schemas/Model'
          type: array
      type: object
    Model:
      additionalProperties: false
      example:
        loaded: true
        models:
        - models
        - models
        opt:
          beam_size: 5
          gpu: 2
          replace_unk: true
        models_id: 5
        timeout: 7
        tokenizer:
          model: model
          type: type
      properties:
        loaded:
          type: boolean
        models_id:
          format: int32
          type: integer
        models:
          items:
            type: string
          type: array
        opt:
          $ref: '#/components/schemas/Opt'
        timeout:
          format: int32
          type: integer
        tokenizer:
          $ref: '#/components/schemas/Tokenizer'
      type: object
    Opt:
      additionalProperties: false
      example:
        beam_size: 5
        gpu: 2
        replace_unk: true
      properties:
        beam_size:
          format: int32
          type: integer
        gpu:
          format: int32
          type: integer
        replace_unk:
          type: boolean
      type: object
    RewriterFileResponse:
      additionalProperties: false
      example:
        message: message
        url: url
        statusCode: Continue
      properties:
        statusCode:
          description: Http status code
          enum:
          - Continue
          - SwitchingProtocols
          - Processing
          - EarlyHints
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultiStatus
          - AlreadyReported
          - IMUsed
          - MultipleChoices
          - MovedPermanently
          - Found
          - SeeOther
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - PermanentRedirect
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - MisdirectedRequest
          - UnprocessableEntity
          - Locked
          - FailedDependency
          - UpgradeRequired
          - PreconditionRequired
          - TooManyRequests
          - RequestHeaderFieldsTooLarge
          - UnavailableForLegalReasons
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          - VariantAlsoNegotiates
          - InsufficientStorage
          - LoopDetected
          - NotExtended
          - NetworkAuthenticationRequired
          type: string
        message:
          description: Information about process
          type: string
        url:
          type: string
      type: object
    RewriterTextResponse:
      additionalProperties: false
      example:
        targetList:
        - targetList
        - targetList
        sourceList:
        - sourceList
        - sourceList
        paraphraseReult: paraphraseReult
        paraphraseResults:
        - paraphraseResults
        - paraphraseResults
        message: message
        statusCode: Continue
      properties:
        statusCode:
          description: Http status code
          enum:
          - Continue
          - SwitchingProtocols
          - Processing
          - EarlyHints
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultiStatus
          - AlreadyReported
          - IMUsed
          - MultipleChoices
          - MovedPermanently
          - Found
          - SeeOther
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - PermanentRedirect
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - MisdirectedRequest
          - UnprocessableEntity
          - Locked
          - FailedDependency
          - UpgradeRequired
          - PreconditionRequired
          - TooManyRequests
          - RequestHeaderFieldsTooLarge
          - UnavailableForLegalReasons
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          - VariantAlsoNegotiates
          - InsufficientStorage
          - LoopDetected
          - NotExtended
          - NetworkAuthenticationRequired
          type: string
        message:
          description: Information about process
          type: string
        paraphraseReult:
          nullable: true
          type: string
        paraphraseResults:
          items:
            type: string
          nullable: true
          type: array
        sourceList:
          description: Return tokenized source text
          items:
            type: string
          nullable: true
          type: array
        targetList:
          description: Return tokenized target text
          items:
            type: string
          nullable: true
          type: array
      type: object
    StatusResponse:
      additionalProperties: false
      example:
        id: id
        message: message
        status: Continue
      properties:
        status:
          enum:
          - Continue
          - SwitchingProtocols
          - Processing
          - EarlyHints
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultiStatus
          - AlreadyReported
          - IMUsed
          - MultipleChoices
          - MovedPermanently
          - Found
          - SeeOther
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - PermanentRedirect
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - MisdirectedRequest
          - UnprocessableEntity
          - Locked
          - FailedDependency
          - UpgradeRequired
          - PreconditionRequired
          - TooManyRequests
          - RequestHeaderFieldsTooLarge
          - UnavailableForLegalReasons
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          - VariantAlsoNegotiates
          - InsufficientStorage
          - LoopDetected
          - NotExtended
          - NetworkAuthenticationRequired
          type: string
        message:
          type: string
        id:
          type: string
      type: object
    SummarizationFileResponse:
      additionalProperties: false
      example:
        message: message
        url: url
        statusCode: Continue
      properties:
        statusCode:
          description: Http status code
          enum:
          - Continue
          - SwitchingProtocols
          - Processing
          - EarlyHints
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultiStatus
          - AlreadyReported
          - IMUsed
          - MultipleChoices
          - MovedPermanently
          - Found
          - SeeOther
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - PermanentRedirect
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - MisdirectedRequest
          - UnprocessableEntity
          - Locked
          - FailedDependency
          - UpgradeRequired
          - PreconditionRequired
          - TooManyRequests
          - RequestHeaderFieldsTooLarge
          - UnavailableForLegalReasons
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          - VariantAlsoNegotiates
          - InsufficientStorage
          - LoopDetected
          - NotExtended
          - NetworkAuthenticationRequired
          type: string
        message:
          description: Information about process
          type: string
        url:
          type: string
      type: object
    SummarizationTextRequest:
      additionalProperties: false
      example:
        summarizationDegree: "Off"
        texts:
        - texts
        - texts
        origin: origin
        language: language
        text: text
      properties:
        language:
          description: Set language of text
          minLength: 1
          type: string
        text:
          description: Single text paragraph
          type: string
        texts:
          description: Text paragraphs
          items:
            type: string
          type: array
        origin:
          description: "Information about SDK user, like a User-Agent"
          type: string
        summarizationDegree:
          description: Set the degree of text modification
          enum:
          - "Off"
          - Medium
          - High
          type: string
      required:
      - language
      type: object
    SummarizationTextResponse:
      additionalProperties: false
      example:
        summarizationResults:
        - summarizationResults
        - summarizationResults
        summarizatinoResult: summarizatinoResult
        message: message
        statusCode: Continue
      properties:
        statusCode:
          description: Http status code
          enum:
          - Continue
          - SwitchingProtocols
          - Processing
          - EarlyHints
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultiStatus
          - AlreadyReported
          - IMUsed
          - MultipleChoices
          - MovedPermanently
          - Found
          - SeeOther
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - PermanentRedirect
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - MisdirectedRequest
          - UnprocessableEntity
          - Locked
          - FailedDependency
          - UpgradeRequired
          - PreconditionRequired
          - TooManyRequests
          - RequestHeaderFieldsTooLarge
          - UnavailableForLegalReasons
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
          - VariantAlsoNegotiates
          - InsufficientStorage
          - LoopDetected
          - NotExtended
          - NetworkAuthenticationRequired
          type: string
        message:
          description: Information about process
          type: string
        summarizatinoResult:
          nullable: true
          type: string
        summarizationResults:
          items:
            type: string
          nullable: true
          type: array
      type: object
    TextRequest:
      additionalProperties: false
      example:
        diversity: "Off"
        origin: origin
        language: language
        suggestions: 0
        text: text
        tokenize: true
      properties:
        language:
          description: Language of original text
          type: string
        text:
          description: Text to rewrite
          type: string
        suggestions:
          description: "Number of suggested variants, 3 maximum"
          format: int32
          type: integer
        diversity:
          description: Diversity of text
          enum:
          - "Off"
          - Medium
          - High
          type: string
        tokenize:
          description: Should source and target texts be returned in tokenized form
          type: boolean
        origin:
          description: for analysis only
          type: string
      type: object
    Tokenizer:
      additionalProperties: false
      example:
        model: model
        type: type
      properties:
        model:
          type: string
        type:
          type: string
      type: object
    _detect_document_post_request:
      properties:
        MinLength:
          format: int32
          type: integer
        Language:
          description: Set language of text
          type: string
        Format:
          description: Source file format
          enum:
          - Unknown
          - Doc
          - Docx
          - Docm
          - Rtf
          - Odt
          - Txt
          - Pdf
          - Md
          - Html
          type: string
        File:
          format: binary
          type: string
        Url:
          type: string
        Origin:
          description: "Information about SDK user, like a User-Agent"
          type: string
        SavingMode:
          description: Mode of saving. By default is SavingMode.Files
          enum:
          - Files
          - Archive
          - Both
          type: string
      required:
      - Format
      - Language
      type: object
    _paraphrase_document_post_request:
      properties:
        OutputFormat:
          description: Target file format
          type: string
        DiversityDegree:
          default: Medium
          description: Sets the degree of text modification
          enum:
          - "Off"
          - Medium
          - High
          type: string
        Language:
          description: Set language of text
          type: string
        Format:
          description: Source file format
          enum:
          - Unknown
          - Doc
          - Docx
          - Docm
          - Rtf
          - Odt
          - Txt
          - Pdf
          - Md
          - Html
          type: string
        File:
          format: binary
          type: string
        Url:
          type: string
        Origin:
          description: "Information about SDK user, like a User-Agent"
          type: string
        SavingMode:
          description: Mode of saving. By default is SavingMode.Files
          enum:
          - Files
          - Archive
          - Both
          type: string
      required:
      - Format
      - Language
      - OutputFormat
      type: object
    _summarize_document_post_request:
      properties:
        OutputFormat:
          description: Target file format
          type: string
        DiversityDegree:
          default: Medium
          description: Sets the degree of text modification
          enum:
          - "Off"
          - Medium
          - High
          type: string
        MinLength:
          description: Minimum length of the target text
          format: int32
          type: integer
        Language:
          description: Set language of text
          type: string
        Format:
          description: Source file format
          enum:
          - Unknown
          - Doc
          - Docx
          - Docm
          - Rtf
          - Odt
          - Txt
          - Pdf
          - Md
          - Html
          type: string
        File:
          format: binary
          type: string
        Url:
          type: string
        Origin:
          description: "Information about SDK user, like a User-Agent"
          type: string
        SavingMode:
          description: Mode of saving. By default is SavingMode.Files
          enum:
          - Files
          - Archive
          - Both
          type: string
      required:
      - Format
      - Language
      - OutputFormat
      type: object
  securitySchemes:
    JWT:
      description: Please enter APP SID & KEY
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://id.groupdocs.cloud/connect/token
      type: oauth2

